@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans KR';
    @apply text-black;
  }

  :root {
    --default-bg: 255 255 255;
    --default-text: 28 28 28;
    --primary-color: 49 133 77;
    --background: 228 242 233;
  }

  :root[data-theme='dark'] {
    --default-bg: 28 28 28;
    --default-text: 255 255 255;
    --primary-color: 167 214 183;
    --background: 170 169 169;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-3xl border border-solid border-deepGreen px-4 py-2 hover:bg-deepGreen hover:text-white;
  }
  .btn-ghost {
    @apply border-none p-2;
  }
  .btn-fill {
    @apply flex h-16 w-full items-center justify-center  rounded-lg border  border-deepGreen bg-deepGreen p-4 text-xl leading-tight text-white
    hover:bg-green;
  }
  .input-primary {
    @apply h-16
    w-full  rounded-lg border border-gray p-4 text-lg outline-deepGreen;
  }
  .btn-state-sm {
    @apply rounded-lg border px-2 py-1 text-xs;
  }
  .btn-state-lg {
    @apply rounded-lg border p-3 text-sm;
  }
}
